.social {
    &__item {
        margin-right: 40px;
        text-decoration: none !important;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $secondary;
        }
    }

    &--footer {
        .icon {
            opacity: .45;
        }

        > li > a {
            padding: 5px 0;
            display: inline-block;
            color: rgba($secondary, .8);

            &:hover {
                color: rgba($secondary, 1);
            }
        }
    }

    &--header {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
    }

    &--footer_alt, &--header {
      padding: 5px 0;

        > li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 28px;
            font-size: 20px;

            &:first-child {
                margin-left: 0;
            }

            > a {
                color: rgba($secondary, .25);
              display: inline-block;
              vertical-align: middle;
              padding: 8px;
              opacity: .6;

                &:hover {
                    color: rgba($secondary, .4);
                  opacity: 1;
                }
            }
        }
    }
}